@model ProduktVM


<div id="AllProdukts">
    <div>
        @foreach (var item in Model.produkts)
        {
            <div>
                @await Html.PartialAsync("_Produkt", item)
            </div>
        }
    </div>
</div>
