@model ProduktVM
@{
    ViewData["Title"] = "Index";
}

<h1>Produkts</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">
                <div class="col">Name: <input type="text" name="name" id="createName" placeholder="Produkt name" /></div>
            </th>
            <th scope="col">
                <div class="col">Price: <input type="text" name="price" id="createPrice" placeholder="Produkt price" /></div>
            </th>
            <th scope="col">
                <div class="col"><button class="btn btn-success" onclick="LinkCreate('@Url.Action("CreateProdukt", "Produkt")')">Create Produkt</button></div>
            </th>
        </tr>
    </thead>
</table>

<table class="table">

    <tbody>
        <tr>
            <td>
                @await Html.PartialAsync("_List", Model)
            </td>
        </tr>
    </tbody>
</table>
